@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Orbitron:wght@700&display=swap');

body {
    font-family: 'Orbitron', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, .navbar-brand, .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-control, .btn {
    font-family: 'Inter', sans-serif !important;
}

.btn, 
button, 
input[type="button"], 
input[type="submit"] {
    font-family: 'Orbitron', sans-serif !important;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.text-gradient {
    background: linear-gradient(90deg, #00D1FF, #7000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

.btn-gradient{
    background: linear-gradient(90deg, #7000FF, #00D1FF);
    border: none;
    color: white;
    outline: none;
    transition: .3s ease-in-out;
}

.btn-gradient:hover{
    color: white;
}